// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  margin-bottom: 100px;
  text-align : center;
}

.show-image{
  float: left;
  width: 50%
}

.show-content{
  float: right;
  width: 50%;
}

.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;}

body{
  background-color: #666666;
 }

carousel-slide{
  position: relative;
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
}

.index-container{
  margin-top: 1px;
}

.card {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 18rem;
  
  position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.col{

  border-radius: 100%;
  margin-bottom: 50px;
  margin-top : 50px;
}

.card-image{
  width: 100%;
  height: 18rem;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.table1{
  width:10%;
  font-display: center;
}
.table3{
  width: 10%;
}
.table2{
  width:80%;
}
.review_content{
  margin-top: 80px;
}
.show-review{
  margin-top: 80px;
}
#item-image{
  width: 100%;
  height: 100%;  
}